$navy: #18121e;
$gunmetal: #233237;
$rusty-red: #984b43;
$warm-yellow: #eac67a;

$flat-white: #fafafa;

$primary: $navy;
$secondary: $gunmetal;
$accent: $rusty-red;
$accent2: $warm-yellow;

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'VT323', monospace;
