<!DOCTYPE html>
<html>
  <head>
    <title>Dot Game</title>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700|VT323&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>

  <body>
    <div class="game-controls">
      <div class="game-controls__speed one-third">
        <div class="game-controls__speed--label-and-value">
          <label for="speedSlider">Speed:</label>
          <div id="slider-value">1</div>
        </div>
        <input
          id="speedSlider"
          type="range"
          min="1"
          max="10"
          value="1"
          class="game-controls__speed--input"
        />
      </div>
      <div class="game-controls__power-button one-third">
        <button class="game-controls__power-button--button pause-game">Start</button>
      </div>
      <div class="game-controls__score one-third">
        <p class="game-controls__score--display">000000</p>
      </div>
    </div>
    <div class="game-area">
      <canvas id="game-area__canvas"></canvas>
    </div>
    <script src="/dot.js"></script>
    <script src="/startButton.js"></script>
    <script src="/score.js"></script>
    <script src="/game.js"></script>
    <script src="/index.js"></script>
  </body>
</html>
